@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fcfcfc;
    --foreground: #cacaca;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: #2c4da4;
    --primary-foreground: 210 40% 98%;

    --secondary: #162240;

    --title: #75787e;

    --border: #2a3038;
    --radius: 0.25rem;
  }

  .dark {
    --background: #121212;
    --foreground: #e0e0e0;

    --card: 0 0% 20%;
    --card-foreground: 222.2 84% 80%;

    --popover: 0 0% 20%;
    --popover-foreground: 222.2 84% 80%;

    --primary: #1a76d2;
    --primary-foreground: 210 40% 30%;

    --secondary: #dbdbdb;
    --secondary-foreground: #162240;

    --title: #cacaca;

    --border: #43474e;
    --radius: 0.25rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply m-0 flex h-screen flex-col bg-background text-foreground;
  }
}
