@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fcfcfc;
    --foreground: #cacaca;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: #2c4da4;
    --primary-foreground: 210 40% 98%;

    --secondary: #162240;

    --title: #75787e;

    --border: #2a3038;
    --radius: 0.25rem;

    --ddd: #ddd;
  }

  .dark {
    --background: #121212;
    --foreground: #e0e0e0;

    --card: 0 0% 20%;
    --card-foreground: 222.2 84% 80%;

    --popover: 0 0% 20%;
    --popover-foreground: 222.2 84% 80%;

    --primary: #1a76d2;
    --primary-foreground: 210 40% 30%;

    --secondary: #dbdbdb;
    --secondary-foreground: #162240;

    --title: #cacaca;

    --border: #43474e;
    --radius: 0.25rem;

    --ddd: #ddd;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply m-0 flex h-screen flex-col bg-background text-title;
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      transform: translateZ(0);
    }
  }

  .header-scroll {
    animation: fadeInDown 0.7s ease-in-out 0s 1 normal none running;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    left: 0;
    transition: all 0.3s linear;
    padding-top: 0;
  }
}
